body {
	background-color: #eeeeee;
	color: #ababab;
	font-family: helvetica;
	max-width: 750px;
	border: 2px solid #;
	margin: auto;
	margin-top: 20px;
	padding-top: 20px;

}


p { 
	padding: 20px;
}


nav {
	font-size: 24px;
	color: #eeeeee;
	text-align: right;
	font-family: helvetica;
	padding-right: 20px;
}


a {
	color: #ababab;
}


h1 {
	font-size: 20px;
	font-weight: normal;
	font-family: helvetica;
	padding-left: 20px;
	padding-top: 10px;
}
